body {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5rem;
    background-color: #dbdbdb;
}

.fa {
    margin-left: -30px;
    cursor: pointer;
    display: inline;
}

.form-control {
    display: inline;
}